[Desktop Entry]
Version=1.0
Type=Application
Name=Updater
Comment=Sytem updates
Exec=sudo dnf -y update
Icon=mintupdate-checking
Path=
Terminal=true
StartupNotify=false
